@charset "UTF-8";

.title_regi {
	display: inline-block;
	height: 30px;
	width: 136px;
	text-align: center;
	background-color: #c9b584;
	position: relative;
	padding-top: 7px;
	font-size: 13.5px;
	color: #736643;
	font-weight: bold;
	margin-right: 2px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.box{
	width: 450px;
	height: 50px;
	background: #c9b584;
	text-align: center;
	border: 5px solid #c9b584;
}
.box_st{
	width: 600px;
	height: 50px;
	background: #c9b584;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
}
.box_complete{
	width: 450px;
	height: 130px;
	background: #c9b584;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	border-top-right-radius: 9px;
}

.in_box{
	margin-top: 5px;
	display: inline-block;
}

.choice:hover {
	cursor: pointer;	
}
.recoCheck {
	accent-color: #736643;
	vertical-align: -2px;
}

.out_table{
	border-collapse: collapse;
	border-style: solid;
	border-color: #b09f76;;
	width: 1200px;
	
}

.out_table th {
	border: 1px solid; 
 	background: #c9b584; 
 	text-align: center; 
 	border-color: #b09f76;
 	color: #736643;
 	font-size: 12px;
 	padding-top: 10px;
 	padding-bottom: 10px;
}

.out_table td {
	border: solid;
	border-width: 0.5px;
 	border-color: #b09f76;
 	padding: 4px;
 	font-weight: bold;
 	font-size: 13px;
 	color : #575754;
}

.out_table input[type="date"] {
	border: 1px solid #b09f76;
	border-radius: 5px;
	margin: 5px;
	padding: 3.5px 4px;
	color: #575754;
	box-shadow: 0px 1px 7px #ededed inset;
	font-weight: bold;
	font-size: 12px;
	width: 130px;
}

#out_today {
	border: none;
}

.size_des{
	width: 80px;
	border: none;
	margin: 3px 0px 3px 0px;
	color: #575754;
}

#removeTr {
	width: 40px;
	border: none;
	
}

.stock_qty{
	width: 60px;
	border: none;
	margin: 3px 0px 3px 0px;
	color: #575754;
	text-align: center;
}

.stock_cd {
	width: 60px;
	border: none;
	margin: 3px 0px 3px 0px;
	color: #575754;
	text-align: center;
}

.remarks, .pd_remarks {
	width: 180px;
	border: none;
	margin: 3px 0px 3px 0px;
	color: #575754;
}

#total {
	background: #c9b584;
	border: none;
	width: 80px;
	font-weight: bold;
	color: #575754;
}
/* 테이블 기본 설정 */
.regi_table {
	margin: 0 auto;
	border-collapse: collapse;
	border-style: solid;
	border-color: #b09f76;;
	width: 900px;
	
}

.regi_table th {
	border-bottom: 1px solid; 
 	background: #c9b584; 
 	text-align: center; 
 	border-color: #b09f76;
 	color: #736643;
 	width: 15%;
 	font-size: 12px;
 	padding-top: 10px;
 	padding-bottom: 10px;
}

.regi_table td {
	border-bottom: solid;
	border-width: 0.5px;
 	border-color: #b09f76;
 	padding: 8px;
 	font-weight: bold;
 	font-size: 13px;
 	color : #575754;
}

/* 포커스 됐을 때 인풋박스 테두리 없애기*/
input:focus {
	outline:none;
}
#okBtn:focus {
	outline: none;
}
#recoBtn:focus, #optionBtn:focus, .removeOpt:focus, #searchType:focus {
	outline:none;
}

/* input 박스 사이즈 변경*/
.regi_table #productName {width: 420px;}
.regi_table .book_div {width: 375px;}


/* 비고 텍스트 박스 */
.note {
	border: 1px solid #b09f76;
	border-radius: 5px;
	padding: 0.4rem 8px; 
	margin: 5px;
	box-shadow: 0px 1px 7px #ededed inset;
	font-weight: bold;
	width: 240px;
	color: #575754;
}

.code, .name, .out_schedule_qty,
.product_cd, .product_name {
	border: 1px solid #b09f76;
	border-radius: 5px;
	padding: 6px 0px 6px 5px; 
	margin: 5px -2px 5px 0px;
	box-shadow: 0px 1px 7px #ededed inset;
	font-weight: bold;
	font-size: 12px;
	width: 100px;
	color: #575754;
}

/* input[type="date"] */
.regi_table input[type="date"] {
	border: 1px solid #b09f76;
	border-radius: 5px;
	margin: 5px;
	padding: 3.5px 4px;
	color: #575754;
	box-shadow: 0px 1px 7px #ededed inset;
	font-weight: bold;
	font-size: 12px;
}

/* 셀렉트 박스 */
select {
	width: 140px;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 2px;
	font-size: 12px;
	line-height: 16px;
	color: #575754;
	font-weight: bold;
}

/* 라디오 버튼 */
.regi_table .regi_check { 
	width: 1.25em; 
	height: 1.25em; 
	display: inline-block;
	vertical-align: middle; 
	margin: 10px; 
	accent-color:#736643; 
} 

/* 할인율 입력용 라디오 버튼 */
.regi_check2 {
	width: 1.25em; 
	height: 1.25em; 
	display: inline-block;
	vertical-align: middle; 
	margin: 10px 7px 10px 10px; 
	accent-color:#736643; 
}

#h4 {
	border-left:4px solid #736643;
	border-width: 7px;
	padding: 2px 0px 0px 10px;
	position: relative;
	left: 250px;
	margin: 0px 50px 20px 50px;
	font-weight: bold;
}

#listH4 {
	border-left:4px solid #736643;
	border-width: 7px;
	padding: 2px 0px 0px 10px;
	position: relative;
	left: 70px;
	margin: 50px 50px 40px 50px;
	font-weight: bold;
}

#recoH4 {
	border-left:4px solid #736643;
	border-width: 7px;
	padding: 2px 0px 0px 10px;
	position: relative;
	left: 228px;
	margin: 50px 50px 40px 50px;
	font-weight: bold;
}

/* 옵션 추가 버튼 */
.optionBtn{
    padding: 7px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #736643;
    cursor: pointer;
    height: 32px;
    margin: 3px 0px 0px 5px;
    border-radius: 4px;
    border: none;
    font-size: 12px;
}

/* 옵션 삭제 버튼 */
.removeOpt {
	background-color: white;
	border: none;
	cursor: pointer;
	height: 25px;
	width: 25px;
	border-radius: 4px;
}


/* 확인 취소 버튼 */
#hrFormSubmit {
	background-color: #736643;
	border: none;
	cursor: pointer;
	color: #fff;
	height: 45px;
	width: 100px;
	border-radius: 4px;
	margin-top: 50px;
	margin-right: 10px;
}


/* ================================================================================= */
#Listbtn2 {
	color: #fff;
    background-color: #736643;
    cursor: pointer;
    height: 28px;
    width: 40px;
    font-size: 0.71rem;
    border-radius: 4px;
    border: none;
	
}

#Listbtn {
    color: #fff;
    background-color: #736643;
    cursor: pointer;
    height: 25px;
    width: 40px;
    font-size: 0.71rem;
    border-radius: 4px;
    border: none;
    text-align: center;
}

#searchBtn {
	color: #fff;
    background-color: #736643;
    border-radius: 4px;
    margin-left: 3px;
    padding: 3px 5px;;
}

#recoBtn, #recoBtn2, #submitBtn {
	position: relative;
	left: 880px;
	color: #fff;
    background-color: #736643;
    cursor: pointer;
    height: 35px;
    width: 120px;
    font-size: 0.75rem;
    border-radius: 4px;
    border: none;
    display: inline;
    margin-top: 10px;
}

#comListbtn1{
    color: #fff;
    background-color: #736643;
    cursor: pointer;
    height: 40px;
    width: 80px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    margin: 30px 10px 10px 150px;
}

#comListbtn2{
    color: #fff;
    background-color: #736643;
    cursor: pointer;
    height: 40px;
    width: 80px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    margin: 30px 0 10px 10px;
}


.box_complete{
	width: 450px;
	height: 130px;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	border: 5px solid #c9b584;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	border-top-right-radius: 9px;
}

/* <<< 디테일 페이지 >>> */
.detail_table {
	margin: 0 auto;
	border-collapse: collapse;
/* 	border-style: solid; */
	border-color: #b09f76;;
	width: 450px;
	margin-top: 15px;
}

.detail_table th {
	border: 1px solid; 
 	background: #c9b584; 
 	text-align: center; 
 	border-color: #b09f76;
 	color: #736643;
 	font-size: 13px;
 	padding-bottom: 5px;
 	padding-top: 5px;
}

.detail_table td {
	border-style: solid;
	border-width: 0.5px;
 	border-color: #b09f76;
	padding: 5px 0px 5px 0px;
 	font-size: 13px;
 	font-weight: bold;
}
.detail_table_st {
	margin: 0 auto;
	border-collapse: collapse;
/* 	border-style: solid; */
	border-color: #b09f76;;
	width: 600px;
	margin-top: 30px;
}

.detail_table_st th {
	border: 1px solid; 
 	background: #c9b584; 
 	text-align: center; 
 	border-color: #b09f76;
 	color: #736643;
 	font-size: 13px;
 	padding-bottom: 5px;
 	padding-top: 5px;
}

.detail_table_st td {
	border-style: solid;
	border-width: 0.5px;
 	border-color: #b09f76;
	padding: 5px 0px 5px 0px;
 	font-size: 13px;
 	font-weight: bold;
}

.detail_table_progress {
	border-collapse: collapse;
	border-color: #b09f76;;
	width: 520px;
}

.detail_table_progress th {
	border: 1px solid; 
 	background: #c9b584; 
 	text-align: center; 
 	border-color: #b09f76;
 	color: #736643;
 	font-size: 13px;
 	padding-bottom: 5px;
 	padding-top: 5px;
}

.detail_table_progress td {
	border-style: solid;
	border-width: 0.5px;
 	border-color: #b09f76;
	padding: 5px 0px 5px 0px;
 	font-size: 13px;
 	font-weight: bold;
 	text-align: center;
}

.detail_table input[type="text"]  {
	border: none;
	padding: 0.4rem 8px; 
	margin: 4px 0px 4px 2px;
	width: 350px;
	color: #3d3d3d;
	font-weight: bold;
}

.detail_table textarea {
	width: 420px;
	height: 300px;
	margin: auto;
	border: none;
	padding: 10px 10px;
	resize: none;
	font-size: 12px;
}

.detail_table input[type="text"][id="optionDetail"] {
	border: none;
	padding: 0.4rem 8px; 
	margin: 4px 0px 4px 2px;
	width: 170px;
	color: #3d3d3d;
	font-weight: bold;
}