@charset "UTF-8";

	table {
		border-collapse: collapse;
		border-style: solid;
		border-color: #b09f76;
	}
	
	th {
		border: 1px solid; 
	 	background: #c9b584; 
	 	text-align: center; 
	 	border-color: #b09f76;
	 	color: #736643;
	}
	
	td {
		border-style: solid;
	 	border-color: #b09f76;
	}
	
	
	
	.clear {
		margin-top: 10%;
	}

	#pageList {
		text-align: center;
		font-size: 20px;
	}
	
	#buttonArea {
		text-align: right;
	}
	
	#listName {
		font-size: 30px;
		font-weight: bold;
	}
	
	#btnNext, #btnPre, #btnSearch {
	    color: #fff;
	    background-color: #736643;
	    cursor: pointer;
	    height: 30px;
	    width: 50px;
	    font-size: 1em;
	    border-radius: 4px;
	    border: none;
	}
	
	#btnInfo, #btnOrder, #deleteSelectedWish, #deleteWishAll, #addCart{
		color: #fff;
	    background-color: #736643;
	    cursor: pointer;
	    height: 30px;
	    width: 100px;
	    font-size: 1em;
	    border-radius: 4px;
	    border: none;
	}