@charset "UTF-8";

	table, th, td {
	border: 1px solid;
	border: 1px solid;
	margin: auto;
	}
	
	th {
		background-color: #513e30;
		color: #c9b584;
	}
	
	.clear {
		margin-top: 10%;
	}

	#pageList {
		margin: auto;
		width: 1024px;
		text-align: center;
	}
	
	#buttonArea {
		margin: auto;
		width: 1024px;
		text-align: right;
		margin-top: 10px;
	}
	
	#listName {
		margin-left: 10%
	}
input[type=button]{
  display: inline-block;
  border-radius: 4px;
  background-color: #513e30;
  color: #c9b584;
  border: none;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

input[type=button]:hover {
  display: inline-block;
  border-radius: 4px;
  background-color: #c9b584;
  color: #513e30;
  border: none;
  cursor: pointer;
}