@charset "UTF-8";

table, th, td {
	border: 1px solid;
	border: 1px solid;
	margin: auto;
}

th {
	background-color: #513e30;
	color: #c9b584;
	text-align: center;
}

.clear {
	margin-top: 50px;
}

article {
	text-align: center;
}