<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.team1.mapper.NoticeMapper">

	<insert id="insertNotice">
		
		<selectKey keyProperty="notice_idx" resultType="integer" order="BEFORE">
		
			SELECT MAX(notice_idx) FROM notice
		
		</selectKey>
		
		INSERT 	
			INTO notice
			VALUES (
				#{notice_idx} + 1
				,#{notice_subject}
				,#{notice_content}
				,#{notice_file}
				,#{notice_real_file}
				,now()
			)
	
	</insert>
	
</mapper>