<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.team1.mapper.OrderMapper">

	<!-- ========== 지선 ========== -->
	<select id="selectOrderList" resultType="order">
		SELECT * FROM order_view WHERE member_id=#{id} AND order_date BETWEEN date(now()-INTERVAL ${period}) and date(now()) ORDER BY order_idx desc;
	</select>
	
	
	
	
</mapper>
