<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.team1.mapper.OrderMapper">

	<!-- ========== 지선 ========== -->
	<select id="selectOrderList" resultType="order">
		SELECT * FROM order_view WHERE member_id=#{id} AND order_date BETWEEN date(now()-INTERVAL ${period}) and date(now()) ORDER BY order_idx desc;
	</select>
	
	<select id="selectOrderProdList" resultType="orderProd">
		SELECT status, idx, name, opt, cnt, price,review_write,img FROM order_detail_view WHERE order_idx=#{order_idx};
	</select>
	
	<select id="selectOrderDetail" resultType="order">
		SELECT * from order_view WHERE substring(order_idx,1,length(#{id}))=#{id} AND order_idx=#{order_idx};
	</select>
	
	<!--  주문 내역 저장 -->
	<insert id="insertOrder" parameterType="order">
		INSERT INTO orderinfo
			VALUES(
				#{order_idx}
				,#{order_imp_uid}
				,#{order_total_pay}
				,#{order_payment}
				,#{order_point}
				,#{order_name}
				,#{order_address}
				,#{order_phone}
			);
	</insert>
	
	<insert id="insertOrderProd" parameterType="orderProd">
		INSERT INTO orderprod
			VALUES(
				#{order_idx}	
				,#{idx}	
				,#{opt}	
				,#{cnt}	
				,#{price}
				,'결제완료'
				,#{name}	
			);
	</insert>
	
	<!--  멤버 포인트 업데이트-->
	<update id="updateMemberPoint">
		UPDATE member SET member_point=member_point+${point} where member_id=#{id};
	</update>
	
	<!-- 포인트 조회 -->
	<select id="selectMemberPoint" resultType="int">
		SELECT member_point
			FROM member
			WHERE member_id = #{id}
	</select>
	
	
</mapper>
