<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.team1.mapper.ProductMapper">

	<!-- ========== 지선 ========== -->
	<select id="selectProduct" resultType="product" parameterType="String">
		SELECT * FROM ${type} WHERE product_idx=#{idx};
	</select>
	
	<select id="selectProductOpt" resultType="productOpt" parameterType="String">
		SELECT * FROM goods_options WHERE goodsOpt_idx=#{idx};
	</select>
	
	<!-- 상품 목록 가져오기-->
	<select id="selectProductList" resultType="product" parameterType="String">
		${sql};
	</select>
	
	<!-- 상품 갯수 계산 -->
	<select id="selectProductCount" resultType="_int" parameterType="String">
		${sql};
	</select>
	
	<update id="updateProductSell" parameterType="orderProd">
		UPDATE ${type} SET sel_count=sel_count+#{prod.cnt}, quantity=quantity-#{prod.cnt} WHERE product_idx=#{prod.idx};
	</update>
	
	<update id="updateProductOptSell" parameterType="orderProd">
		UPDATE goods_options SET option_quantity=option_quantity-#{prod.cnt}, count=count+#{prod.cnt} WHERE goodsOpt_idx=#{prod.idx} AND option_name=#{prod.opt};
	</update>
	
	<!-- ========== 경민 ========== -->
	<!-- 상품 번호 조회 -->
	<select id="selectIdx" resultType="int">
		SELECT MAX(idx)
			FROM product
	</select>
	
	<!-- 상품 등록 -->
	<insert id="insertProduct">
		INSERT 
			INTO product
			VALUES (
				#{product.idx}
				, #{product.product_idx}
			);
		<choose>
			<when test="isBook">
				INSERT 
					INTO book
					VALUES (
						#{product.product_idx}
						, #{product.name}
						, #{product.genre}
						, #{product.writer}
						, #{product.publisher}
						, #{product.price}
						, #{product.quantity}
						, #{product.date}
						, 0
						, #{product.detail}
						, #{product.discount}
						, #{product.img}
						, #{product.detail_img}
					)
			</when>
			<otherwise>
				INSERT 
					INTO goods
					VALUES (
						#{product.product_idx}
						, #{product.name}
						, #{product.price}
						, #{product.quantity}
						, #{product.detail}
						, #{product.img}
						, #{product.detail_img}
						, #{product.discount}
						, 0
						, #{product.date}
					)
			</otherwise>
		</choose>
	</insert>
	
	<!-- 굿즈 옵션 등록 -->
	<insert id="insertGoodsOpt">
		INSERT
			INTO goods_options
			VALUES (
				#{goodsOpt_idx}
				, #{option_name}
				, #{option_quantity}
				, #{optNum}
			)
	</insert>
	
	<!-- 책 목록 조회 -->
	<select id="selectBookList" resultType="com.itwillbs.team1.vo.ProductBean">
		SELECT * 
			FROM book
		<if test='!keyword.equals("")'>
			WHERE 
				<choose>
					<when test="searchType.equals('name')">
						name LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('product_idx')">
						product_idx LIKE '%${keyword}%'
					</when>
				</choose>
		</if>
		ORDER BY 
			LENGTH(product_idx) DESC, product_idx DESC
		LIMIT #{startRow}, #{listLimit}
	</select>
	
	<!-- 책 전체 개수 조회 -->
	<select id="selectBookListCount" resultType="int">
		SELECT COUNT(*)
			FROM book
		<if test='!keyword.equals("")'>
			WHERE 
				<choose>
					<when test="searchType.equals('name')">
						name LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('product_idx')">
						product_idx LIKE '%${keyword}%'
					</when>
				</choose>
		</if>
	</select>
	
	<!-- 굿즈 목록 조회 -->
	<select id="selectGoodsList" resultType="com.itwillbs.team1.vo.ProductBean">
		SELECT *
			FROM goods
			ORDER BY 
				LENGTH(product_idx) DESC, product_idx DESC
	</select>
	
	<select id="selectGoodsListCount" resultType="int">
		SELECT COUNT(*)
			FROM goods
	</select>
	
	<select id="selectBookFileName" resultType="com.itwillbs.team1.vo.ProductBean">
		SELECT img, detail_img
			FROM book
			WHERE 
				product_idx = #{product_idx}
	</select>
	
	<select id="selectGoodsFileName" resultType="com.itwillbs.team1.vo.ProductBean">
		SELECT img, detail_img
			FROM goods
			WHERE 
				product_idx = #{product_idx}
	</select>
	
	<delete id="deleteBook">
		DELETE
			FROM book
			WHERE 
				product_idx = #{product_idx}
	</delete>
	
	<delete id="deleteGoods">
		DELETE
			FROM goods
			WHERE 
				product_idx = #{product_idx}
	</delete>
	
	<delete id="deleteProductIdx">
		DELETE
			FROM product
			WHERE 
				product_idx = #{product_idx}	
	</delete>
	
	<!-- 추천 도서 목록 조회 -->
	<select id="selectRecoBook" resultType="com.itwillbs.team1.vo.ProductBean">
		SELECT *
			FROM book, recommend_book 
			WHERE book.product_idx = recommend_book.product_idx
	</select>
	
	<!-- 추천 도서 등록 -->
	<insert id="recommendBook">
		INSERT INTO
			recommend_book
			VALUES(
				#{recoIdx}
			)
	</insert>
	
	<!-- 추천 도서 삭제 -->
	<delete id="deleteRecoBook">
		DELETE 
			FROM recommend_book
			WHERE product_idx = #{product_idx}
	</delete>
	
	<!-- 책 수정 -->
	<update id="updateBook">
		UPDATE book
			SET
				name = #{name}
				, genre = #{genre}
				, writer = #{writer}
				, publisher = #{publisher}
				, price = #{price}
				, date = #{date}
				, detail = #{detail}
				, discount = #{discount}
				, quantity = #{quantity}
				, img = #{img}
				, detail_img = #{detail_img}
			WHERE product_idx = #{product_idx}
	</update>
	
	<update id="updateGoods">
		UPDATE goods
			SET
				name = #{name}
				, price = #{price}
				, quantity = #{quantity}
				, detail = #{detail}
				, discount = #{discount}
				, img = #{img}
				, detail_img = #{detail_img}
			WHERE product_idx = #{product_idx}
	</update>
	
	<insert id="insertUpdateGoodsOpt">
		INSERT
			INTO goods_options
			VALUES (
				#{goodsOpt_idx}
				, #{option_name}
				, #{option_quantity}
				, #{optNum}
			)
	</insert>
	
	<select id="selectMaxOpt" resultType="int">
		SELECT MAX(count)
			FROM goods_options
			WHERE goodsOpt_idx = #{product_idx}
	</select>
	
	<delete id="deleteGoodsOpt">
		DELETE
			FROM goods_options
			WHERE goodsOpt_idx = #{product_idx}
			AND count &lt; #{max}
	</delete>
	
</mapper>
