<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.team1.mapper.ProductMapper">

	<!-- ========== 지선 ========== -->
	<select id="selectProduct" resultType="product" parameterType="String">
		SELECT * FROM ${type} WHERE product_idx=#{idx};
	</select>
	
	<select id="selectProductOpt" resultType="productOpt" parameterType="String">
		SELECT * FROM goods_options WHERE goodsOpt_idx=#{idx};
	</select>
	
	<!-- 상품 목록 가져오기-->
	<select id="selectProductList" resultType="product" parameterType="String">
		${sql};
	</select>
	
	<!-- 상품 갯수 계산 -->
	<select id="selectProductCount" resultType="_int" parameterType="String">
		${sql};
	</select>
	
	
</mapper>
