<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.team1.mapper.ProductMapper">

	<!-- ========== 지선 ========== -->
	<select id="selectProduct" resultType="product" parameterType="String">
		SELECT * FROM ${type} WHERE product_idx=#{idx};
	</select>
	
	<select id="selectProductOpt" resultType="productOpt" parameterType="String">
		SELECT * FROM goods_options WHERE goodsOpt_idx=#{idx};
	</select>
	
	<!-- 상품 목록 가져오기-->
	<select id="selectProductList" resultType="product" parameterType="String">
		${sql};
	</select>
	
	<!-- 상품 갯수 계산 -->
	<select id="selectProductCount" resultType="_int" parameterType="String">
		${sql};
	</select>
	
	<update id="updateProductSell" parameterType="orderProd">
		UPDATE ${type} SET sel_count=sel_count+#{prod.cnt}, quantity=quantity-#{prod.cnt} WHERE product_idx=#{prod.idx};
	</update>
	
	<update id="updateProductOptSell" parameterType="orderProd">
		UPDATE goods_options SET option_quantity=option_quantity-#{prod.cnt}, count=count+#{prod.cnt} WHERE goodsOpt_idx=#{prod.idx} AND option_name=#{prod.opt};
	</update>
	
	<!-- ========== 경민 ========== -->
	<select id="selectIdx" resultType="int">
		SELECT MAX(idx)
			FROM product
	</select>
	<insert id="insertProduct">
		INSERT 
			INTO product
			VALUES (
				#{product.idx}
				, #{product.product_idx}
			);
		<choose>
			<when test="isBook">
				INSERT 
					INTO book
					VALUES (
						#{product.product_idx}
						, #{product.name}
						, #{product.genre}
						, #{product.writer}
						, #{product.publisher}
						, #{product.price}
						, #{product.quantity}
						, #{product.date}
						, 0
						, #{product.detail}
						, #{product.discount}
						, #{product.img}
						, #{product.detail_img}
					)
			</when>
			<otherwise>
			
			
			</otherwise>
		</choose>
		
	
	</insert>
</mapper>
