<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.itwillbs.team1">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

<!-- SQL Logger추가 -->
	
	<!-- 1) SQL 쿼리 문장 로그 -->
	<logger name="jdbc.sqlonly" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />		
	</logger>

	<!-- 2) SQL 쿼리 문장 실행에 소요된 시간 -->
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="warn" />
		<appender-ref ref="console" />		
	</logger>
	
	<!-- 3) JDBC 호출 정보 로그 (ResultSet 제외) -->
	<logger name="jdbc.audit" additivity="false">
		<level value="warn" />
		<appender-ref ref="console" />		
	</logger>
	
	<!-- 4) JDBC ResultSet을 포함한 JDBC호출 정보 -->
	<logger name="jdbc.result" additivity="false">
		<level value="warn" />
		<appender-ref ref="console" />		
	</logger>
	
	<!-- 5) SELECT실행 결과에 대한 로그 -->
	<logger name="jdbc.resultsettable" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />		
	</logger>


	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
