<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.itwillbs.team1_final.vo.HrVO" alias="hr"/>
		<typeAlias type="com.itwillbs.team1_final.vo.StockVO" alias="stock"/>
	</typeAliases>
</configuration>